@model ServiceLayer.DictionaryService.WordListCombineFilterDto
@{
}
<form role="form">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" name="SearchText" asp-for="SortFilterData.SearchText" placeholder="Search" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>
@foreach (var word in Model.WordList)
{
    <div class="card">
        <div class="card-body">
            <div class="card-header">
                <h5 class="card-title">@word.Text</h5>
                <div class="dropdown">
                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">Category</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">00</a>
                            <a class="dropdown-item">01</a>
                            <a class="dropdown-item">02</a>
                        </div>
                </div>
            </div>
            <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Vocabulary" asp-action="WordDetail" asp-route-id="@word.WordId" asp-route-word="@word.Text">
                修改
            </a>
            <ul id="@word.Text" class="nav nav-pills mb-3" role="tablist">
                @foreach (var partOfSpeech in word.PartOfSpeech)
                {
                    var name = word.Text + partOfSpeech.PartOfSpeech;
                    var tabId = $"{name}-tab";
                    var href = $"#{name}";
                    <li class="nav-item" role="presentation">
                        <button type="button" class="nav-link" id="@tabId" data-toggle="pill" href="@href" role="tab" aria-controls="@name"> @partOfSpeech.PartOfSpeech</button>
                    </li>
                }
            </ul>
            @{
                var contentId = word.Text + "Content";
            }
            <div class="tab-content" id="@contentId">
                @for (var i = 0; i < word.PartOfSpeech.Count(); i++)
                {
                    var list = word.PartOfSpeech.ToList();
                    var name = word.Text + list[i].PartOfSpeech;
                    var tabId = $"{name}-tab";
                    var show = i == 0 ? "show active" : "";
                    <div class="tab-pane fade @show" id="@name" role="tabpanel" aria-labelledby="@tabId">

                        @foreach (var def in list[i].Definitions)
                        {
                            <p>-@def</p>
                        }

                    </div>
                }
            </div>
            <div><p>@word.Note</p></div>
        </div>
    </div>


}
